<body class="bg-cloud">

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Damian Stawski's personal webpage</h1>
  <p class="lead">Who and why.</p>
</div>

<div class="container" id="page-content">
  <div class="row mb-5">
    <div class="col-md-6 text-center">
      <img src="assets/images/me_main.png" class="img-fluid">
    </div>
    <div class="col-md-6 my-auto">
      <div class="card mb-4">
        <div class="card-header icon">
          <h4 class="my-0 font-weight-normal "><img src="assets/icons/note-0.png"> About me</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Welcome to my website</li>
            <li>I am programmer</li>
            <li>I like retro stuff (a lot)</li>
            <li>I have a dog and a cat (cat don't like me)</li>
          </ul>
          <div class="btn-group btn-block" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary"><img src="assets/icons/monitor_tweakui-1.png" class="icon-16">  Check my powers</button>
            <button type="button" class="btn btn-secondary"><img src="assets/icons/game_hearts.png" class="icon-16">  Get my CV</button>
            <button type="button" class="btn btn-secondary"><img src="assets/icons/envelope_closed-1.png" class="icon-16"> Email me</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header icon">
          <h4 class="my-0 font-weight-normal "><img src="assets/icons/globe_map-2.png"> Explore website and be surprised</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Working best on 1024x768, IE6</li>
            <li>Boring wallpaper? Check others and feel cozy</li>
            <li>Miss Winamp? I know what You want</li>
            <li>Write something in guestbook - don't be rude</li>
            <li>Need help? Launch Your 20 years old friend</li>
          </ul>
          <div class="btn-group btn-block" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary"><img src="assets/icons/wm-1.png" class="icon-16"> I want my LAMA LAMA</button>
            <button type="button" class="btn btn-secondary"><img src="assets/icons/utopia_smiley.png" class="icon-16">  Give my friend back</button>
            <button type="button" class="btn btn-secondary"><img src="assets/icons/write_yellow-0.png" class="icon-16">  Guestbook</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="taskbar">
  <div class="row" style="margin-right: 0px;">
    <div class="col-10">
      <a class="btn start-button main-start-button"><img src="assets/icons/windows-0.png" class="icon-32">Start</a>
      <a class="btn start-button"><img src="assets/icons/console_prompt-0.png" class="icon-32"> Programming life</a>
      <a class="btn start-button"><img src="assets/icons/desktop_w95-0.png" class="icon-32"> Retro</a>
      <a class="btn start-button"><img src="assets/icons/scanner_camera-0.png" class="icon-32"> Gallery</a>
      <a class="btn start-button"><img src="assets/icons/msagent-3.png" class="icon-32"> About me</a>
      <a class="btn start-button"><img src="assets/icons/directory_control_panel-2.png" class="icon-32"> Control Panel</a>
    </div>
    <div class="col-2 time">{{ time | async | date: 'hh:mm:ss' }}</div>
  </div>

</footer>
